* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
  font-optical-sizing: auto;

  font-style: normal;
}

.component {
  border: 2px solid;
  background-color: white;
  width: 320px;
  height: 499px;
  border-radius: 20px;
  align-content: center;
  margin: 95.5px auto;
  line-height: 1.2;
  border-style: hidden;
}

.content {
  display: inline-block;
  padding: 16px 16px 40px;
}

.text {
  border-width: 288px;
  height: 131px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid;
  border-style: hidden;
  border-spacing: 16px;
}

.qr-code {
  border-radius: 10px;
  margin-bottom: 24px;
  width: 288px;
  height: 288px;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 21px;
  text-align: center;
  width: 256px;
  height: 52px;
  margin-bottom: 16px;
  text-wrap: balance;
  font-weight: 700;
}

.description {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  width: 256px;
  height: 63px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

/* .footer {
  margin: 20px auto 0px;
  width: 320px;
  background-color: hsl(212, 45%, 89%);
  color: #1b1919;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer a {
  color: #1652a1;
  text-decoration: none;
  font-weight: 700;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0;
  font-size: 14px;
} */
